<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport"              content="width=device-width, initial-scale=1.0, maximum-scale=1" />

    {{ with .Title | default .Site.Title }}
    <title>{{ . }}</title>
    {{ end }}
    {{ with .Description | default .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}

    <link rel="stylesheet" href="/css/flickity.min.css" />
    <link rel="stylesheet" href="/css/bulma.min.css"    />
    <link rel="stylesheet" href="/css/main.css"         />
    
    <link rel="stylesheet" href="/fonts/Monk.css"       />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" />
    <link rel="canonical"  href="{{ .Site.BaseURL }}" />
    <link rel="alternate"  href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <!-- Open Graph -->
    <meta property="og:site_name"    content="{{ .Site.Title }}" />
    <meta property="og:url"          content="{{ .Permalink }}" />
    {{ if .IsPage }}
    <meta property="og:type"         content="article" />
    {{ else }}
    <meta property="og:type"         content="business.business" />
    {{ end }}
    {{ with .Title | default .Site.Title }}
    <meta property="og:title"        content="{{ . }}" />
    {{ end }}
    {{ with .Params.image | default .Site.Params.logo }}
    <meta property="og:image"        content="{{ . | absURL }}" />
    {{ end }}
    {{ with .Description | default .Site.Params.description }}
    <meta property="og:description"  content="{{ . }}" />
    {{ end }}

    <!-- Twitter -->
    {{ with .Title | default .Site.Title }}
    <meta name="twitter:title"       content="{{ . }}" />
    {{ end }}
    {{ with .Description | default .Site.Params.description }}
    <meta name="twitter:description" content="{{ . | truncate 200 }}" />
    {{ end }}
    {{ with .Params.image | default .Site.Params.logo }}
    <meta name="twitter:image"       content="{{ . | absURL }}" />
    {{ end }}
    <meta name="twitter:card"        content="summary" />
    {{ with .Site.Params.twitter }}
    <meta name="twitter:site"        content="@{{ . }}" />
    <meta name="twitter:creator"     content="@{{ .}}" />
    {{ end }}

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Web Application Manifest -->
    <link rel="manifest" href="/manifest.json">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name"       content="Manilatech">
    <link rel="icon" sizes="256x256" href="/android-chrome-256x256.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="32x32"   href="/favicon-32x32.png">
    <link rel="icon" sizes="16x16"   href="/favicon-16x16.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title"            content="Manilatech">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="/mstile-150x150.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <!-- Global Site Tag (gtag.js) -->
    {{ with .Site.Params.ga_api_key }}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11521088-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', '{{ . }}');
    </script>
    {{ end }}
</head>
