@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-Light.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-LightItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-Regular.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-Italic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-Bold.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: 'Salesforce Sans';
  src: url("../fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("../fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700; }

html {
    width: 100%;
}
body {
    font-family: "Salesforce Sans", Arial, sans-serif;
    color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.site-header {
}
.site-header > .navbar > .navbar-brand > a.navbar-item {
    color: #000;
    font-size: 24px;
}
.site-header .site-header-title {
    padding: 22px 0 14px 0;
    margin: 0;
    /*text-align: center;*/
}
.site-header .site-header-title .title {
    font-size: 40px;
    font-weight: 300;
    color: #000000;
    text-align: center;
}
.site-header .site-header-navigation { }
.site-header .site-header-navigation > div > ul {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}
.site-header .site-header-navigation > div > ul > li > a {
    font-size: 15px;
    color: #969fa6;
    text-transform: uppercase;
    padding: 20px;
}
.site-header .site-header-navigation .tabs a {
    border-right: 1px solid #ebebeb;
    border-bottom: 0 none;
}
.site-header .site-header-navigation .tabs li:last-child a {
    border-right: 0 none;
}
.site-header .site-header-navigation .tabs li.is-active a,
.site-header .site-header-navigation .tabs li.is-active a:hover,
.site-header .site-header-navigation .tabs li a:hover {
    border-bottom: 0 none;
    color: #333333;
}
.site-header .site-header-cover-carousel {
    height: 400px;
    overflow: hidden;
    background-color: #ffffff;
}
.site-header .site-header-cover-carousel .carousel-cell {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-color: #555;
}
.site-header .flickity-page-dots {
    bottom: 16px;
}
.site-header .flickity-page-dots .dot {
    border: 6px solid white;
}


.site-footer {
    background-color: dimgray !important;
}
.site-footer-partners a {
    display: inline-block;
    height:70%;
    padding-right: 36px;
}
.site-footer-partners a.height0 {
    height: 100%;
}
.site-footer-partners a.height20 {
    height: 20%;
}
.site-footer-partners a.height30 {
    height: 30%;
}
.site-footer-partners a.height40 {
    height: 40%;
}
.site-footer-partners a.height50 {
    height: 50%;
}
.site-footer-partners a.height60 {
    height: 60%;
}
.site-footer-partners a.height70 {
    height: 70%;
}
.site-footer-partners a.height80 {
    height: 80%;
}
.site-footer-partners a.height90 {
    height: 90%;
}
.site-footer-partners a img {
    height: 100%;
}
.site-footer .footer-title {
    font-family: 'Monk', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: normal;
    color: darkgray !important;
}
.site-footer .footer-nav-menu .title {
    color: #333 !important;
    font-weight: normal !important;
}
.site-footer .footer-nav-menu .subtitle {
    color: #eeeeee !important;
}
.site-footer .footer-copyright {
    color: darkgray !important;
}


.site-content {
    padding-top: 50px;
    padding-bottom: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.site-content .product-carousel {
    height: 500px;
    width: auto;
    background-color: #ffffff;
    padding-right: 16px;
}
.site-content .product-carousel .carousel-cell {
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}
.site-content .flickity-page-dots .dot {
    width: 24px;
    height: 24px;
    border: 8px double #ccc;
}
.site-content .flickity-page-dots {
    bottom: -40px;
}

.site-content a.rm-link {
    color: #1951fc;
    font-weight: bold;
}

.home-template .site-content .column.post-item {
    text-align: center;
}
.home-template .site-content .column.post-item > a.post-item-link {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
}
.home-template .site-content .column.post-item:last-child > a.post-item-link {
    border-bottom: 0 none;
}
.home-template .site-content .column.post-item > a > p {
    padding: 0 0 16px 0;
}
.home-template .site-content .column.post-item > a > p > img {
    max-height: 180px;
}
.home-template .site-content .column.post-item > a h1 {
    font-size: 20px;
    color: #000;
    /*font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.home-template .site-content .column.post-item > a h2 {
    font-size: 16px;
    color: #999999;
    /*font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;*/
}
.home-template .site-content .column.post-item > a h3 {
    font-size: 18px;
    color: #444;
    /*font-family: 'Open Sans', 'Roboto', Helvetica, Arial, sans-serif;*/
}
.home-template .site-content .column.post-item > a div[post-pid] {
    display: none;
}

.post-template .site-content .post-item > p > img,
.post-template .site-content .post-item > h1,
.post-template .site-content .post-item > h2,
.post-template .site-content .post-item > h3 {
    /*display: none;*/
}

.page-template  .site-content .content {
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}




.page-contact-us {
    background-color: #ebebeb;
}
.page-contact-us .site-header {
    background-color: #ffffff;
}
.page-contact-us .site-content {
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.11);
}
.page-contact-us .site-content .container {
    background-color: #ffffff;
    box-shadow: 2px 2px 11px 0 rgba(0,0,0,.1);
}
.page-contact-us .site-content .content {
    padding: 30px;
}



.currency_symbol {
    font-size: 16px;
    vertical-align: 10px;
    padding-right: 2px;
}


.is-show-phone { }
.is-hide-phone {}

@media screen and (min-width: 1192px) {
    .site-content .container,
    .site-footer .container {
        max-width: 960px;
        width: 960px;
    }
}

@media screen and (min-width: 1384px) {
    .site-content .container,
    .site-footer .container {
        max-width: 960px;
        width: 960px;
    }
}

@media screen and (min-width: 946px) {
    .column.is-one-third-desktop {
        -webkit-box-flex: 0;
        -ms-flex: none;
          flex: none;
          width: 33.3333%;
    }
    .home-template .site-content .column.post-item:nth-child(3n+0) > a.post-item-link,
    .home-template .site-content .column.post-item:last-child > a.post-item-link {
        border-right: 0 none;
    }
    .is-hide-phone { display: inherit !important; }
    .is-show-phone { display: none !important; }
}

@media screen and (max-width: 945px) {
    .column.is-half-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
          flex: none;
          width: 50%;
    }
    .home-template .site-content .column.post-item:nth-child(2n+0) > a.post-item-link,
    .home-template .site-content .column.post-item:last-child > a.post-item-link {
        border-right: 0 none;
    }
    .is-hide-phone { display: inherit !important; }
    .is-show-phone { display: none !important; }
}

@media screen and (max-width: 555px) {
    .column.is-one-quarter-phone {
        -webkit-box-flex: 0;
        -ms-flex: none;
          flex: none;
          width: 100%;
    }
    .home-template .site-content .column.post-item > a.post-item-link {
        border-right: 0 none;
    }
    .is-hide-phone { display: none !important; }
    .is-show-phone { display: inherit !important; }
}

.has-bottom-border {
    border-bottom: 1px solid #ddd !important;
}
.has-no-bottom-border {
    border-bottom: 0 none !important;
}

.mb8 {
    margin-bottom: 8px !important;
}

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }

.is-width-100 {
    width: 100% !important;
}
.is-height-100 {
    height: 100% !important;
}

.is-shadow-0 {
    box-shadow: none !important;
}

.is-center {
    margin-left: auto;
    margin-right: auto;
}
